.InputMain{
    margin: 7rem 3rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    width: 70%;
    margin-left: 10%;
}
input{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
.btn{
    margin-top: 2rem;
    margin-left: auto;
    width: 9rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: rgba(232, 180, 117, 0.596);
    font-size: 1rem;
}
.btn:hover{
    background-color: rgba(185, 131, 66, 0.853);
}
